body {
    background: linear-gradient(to bottom right,cyan,darkcyan,aquamarine);
}
h1{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
}
p{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: justify;
}
.coluna{
	width: 500px;
	display: inline-block;
}
.coluna1{
    width: 450px;
    display: inline-block;
}
.photo{
    width: 400px;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
.title{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.foto{
    width: 400px;
    height: 300px;
}
.nada{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
li{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
#display{
    color: #ffffff;
    text-decoration: none;
	display: none;
}
.displai{
    background: linear-gradient(to bottom right,blue,dodgerblue,navy);
    border-radius: 10px;
}
#baixo{
    float: left;
    margin: 10px;
    display: flex;
    padding: 2,37px;
}
.embed-container{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.imgresponsivo{
    max-width:100%;
    height: auto;
    float: center;
    margin: auto;
    display:flex;
}
